{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>    
    </div>
{% endblock %}


{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black"> 
                    The best Artisan Cakes  
                </h1>
                <div class="my-5">
                    <h4>
                            <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-1 text-uppercase py-3"> Order Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    
    <div id="delivery-banner" class="row text-center" >
            <div class="col bg-red text-white">
                <h4 class="logo-font my-1 "> Some of our products</h4>
            </div>
    </div>
    <div class="row align-items-center some-products">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <div class="card item border-0"> 
                <img  class="card-img" src="https://andna5980-boutiquecake-v1.s3.eu-west-1.amazonaws.com/media/cheesecakes.jpeg" alt="Cheesecake image">
                <div class="card-body pb-0 text-center button-position">
                    <h4>
                        <a href="/products/?category=cheesecakes" class="cta-button btn btn-ls btn-lg rounded-1">Cheesecakes</a>
                    </h4>
                </div>
            </div>
        </div>
                
        <div class="col-sm-12 col-md-12 col-lg-4">
            <div class="card item border-0">
                <img  class="card-img" src="https://andna5980-boutiquecake-v1.s3.eu-west-1.amazonaws.com/media/cupcake.jpeg" alt="Cheesecake image">
                <div class="card-body pb-0 text-center button-position">
                    <h4>
                        <a href="/products/?category=cupcakes" class="cta-button btn btn-ls btn-lg rounded-1">Cupcakes</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4">
            <div class="card item border-0">
                <img  class="card-img" src="https://andna5980-boutiquecake-v1.s3.eu-west-1.amazonaws.com/media/tallcake1.jpeg" alt="Cheesecake image">
                <div class="card-body pb-0 text-center button-position">
                    <h4>
                        <a href="/products/?category=tall_cakes" class="cta-button btn btn-ls btn-lg rounded-1">Tall Cakes</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    
    
    <footer>
        <div class="social-networks">
          <a href="http://facebook.com" target="_blank"><i class="fab fa-facebook-square"></i></a>
    
          <a href="http://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
    
          <a href="http://twitter.com" target="_blank"><i class="fab fa-twitter-square"></i></a>
        </div>
    </footer>

    

{% endblock %}

